<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
    style="box-shadow: rgba(0, 0, 0, 0.178) 5px 5px 11px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Temperature °C</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboardR">Gateways</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sensorsR">Sensors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/timeline">Timeline</a>
                </li>
                <% if(locals.isTelsta) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/telstra/<%= gateway.IMEI %>"><img src="https://dev.telstra.com/sites/default/files/favicon.ico" alt="Telstra API" style="width: 20px;"></a>
                    </li>
                <% } %>
                
            </ul>
            <form class="d-flex">
                <a href="/logout" style="text-decoration: none; color: white;"><button type="button"
                        class="btn btn-primary btn-sm">Logout</button></a>
            </form>
        </div>
    </div>
</nav>