<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
    style="box-shadow: rgba(0, 0, 0, 0.178) 5px 5px 11px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/logo.jpg" alt="logo" style="width: 150px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboardR">Gateways</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sensorsR">Sensors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lowsensorsR" style="color: red;"><i class="fa fa-battery-1" style="font-size:24px;color:red"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/responses">Responses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/timeline">Timeline</a>
                </li>
                
                <% if(locals.isTelsta) { %>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/telstra/<%= gateway.IMEI %>"><img src="https://dev.telstra.com/sites/default/files/favicon.ico" alt="Telstra API" style="width: 20px;"> Telstra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/sms/<%= gateway.IMEI %>">&#9993; SMS</strong></a>
                    </li>
                <% } %>
            </ul>
            <form class="d-flex">
                <a class="nav-link" href="/customeSMS"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 20px;"></i></a>
                <a style="text-decoration: none; color: white;" class="px-2" disabled><button type="button"
                    class="btn btn-primary btn-sm px-1" id="tmz"></button></a>
                <a href="/logout" style="text-decoration: none; color: white;"><button type="button"
                        class="btn btn-primary btn-sm">Logout</button></a>
            </form>
            <script>
                window.onload = () => {
                    document.getElementById('tmz').innerHTML = new Date().toString().match(/([A-Z]+[\+-][0-9]+.*)/)[1]
                }
            </script>
        </div>
    </div>
</nav>