<% if(locals.success_msg.length > 0) { %>
    <% success_msg.forEach(success => { %>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" /></svg>
        <div>
            <%= success.msg %>
        </div>
    </div>
    <% }) %>
    <% } %>
    <% if(locals.error_msg) { %>
    <% error_msg.forEach(error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill" /></svg>
        <%= error.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }) %>
    <% } %>